$color:#232323;
$background-color:#dee3e2;
$button:#0977ec;
$button-color:#c6e9e9;
$main-transition:all .3 linear;

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
body{
  font-family: 'Open Sans', sans-serif;
  background-color: $background-color;
  color:$color;
}
